<!-- Row start -->
<!-- <app-spinner *ngIf="loader"></app-spinner> -->

<div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <!-- <div class="card-title">Add New Staff</div> -->
            </div>
            <form [formGroup]="addStaffForm" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div id="example-form" class="wizard clearfix">

                        <section>
                            <h6 class="h-0 m-0">&nbsp;</h6>
                            <div class="row gutters">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                        <input type="text" formControlName="staffName" name="staffName"
                                            placeholder="Enetr Staff Name" />
                                        <div class="field-placeholder">
                                            Staff Name <span class="text-danger">*</span>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                        <input type="text" formControlName="designation" name="designation"
                                            placeholder="Enetr Designation" />
                                        <div class="field-placeholder">
                                            Designation <span class="text-danger">*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                        <input type="text" formControlName="qualification" name="qualification"
                                            placeholder="Enetr Qualification" />
                                        <div class="field-placeholder">
                                            Qualification <span class="text-danger">*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                        <input type="text" formControlName="phoneNumber" name="phoneNumber"
                                            placeholder="Enetr Phone Number" [maxlength]="10" [readOnly]="editId" />
                                        <div class="field-placeholder">
                                            Phone Number <span class="text-danger">*</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gutters">

                                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                        <input type="text" formControlName="password" name="postalCode"
                                            placeholder="password" />
                                        <div class="field-placeholder">
                                            Password
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                        <input type="email" formControlName="email" name="email"
                                            placeholder="Enter Email" />
                                        <div class="field-placeholder">
                                            Email<span class="text-danger">*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                        <input type="date" formControlName="dob" name="dob" placeholder="Enter DOB" />
                                        <div class="field-placeholder">
                                            DOB<span class="text-danger">*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                        <input type="text" formControlName="city" name="city"
                                            placeholder="Enter City" />
                                        <div class="field-placeholder">
                                            City<span class="text-danger">*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

                                    <div class="field-wrapper">

                                        <select class="select-single js-states" title="Select Dealer City"
                                            formControlName="status" data-live-search="true">
                                            <option selected disabled value="">Select Status</option>
                                            <option value="false">Inactive</option>
                                            <option value="true">Active</option>
                                        </select>
                                        <div class="field-placeholder">Status <span class="text-danger">*</span></div>
                                    </div>

                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                        <input type="text" formControlName="address" name="address"
                                            placeholder="Enter Address" />
                                        <div class="field-placeholder">
                                            Address<span class="text-danger">*</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                        <input type="text" formControlName="refferedBy" name="refferedBy"
                                            placeholder="Enter Reffered By" />
                                        <div class="field-placeholder">
                                            Reffered By
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                        <input type="text" formControlName="refferedByPhoneNo" name="refferedByPhoneNo"
                                            placeholder="Enter Reffered Ph" />
                                        <div class="field-placeholder">
                                            Reffered By Phone No
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="editId">
                                    <div class="field-wrapper">
                                        <input type="text" formControlName="username" name="username"
                                            placeholder="Enter username"  readonly/>
                                        <div class="field-placeholder">
                                            Staff Username [Read Only]
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="enableOtpInput">
                                    <div class="field-wrapper">
                                        <input type="text" [(ngModel)]="otp" name="otp" placeholder="otp" />
                                        <div class="field-placeholder">
                                            OTP
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </section>
                        <div class="actions clearfix">
                            <ul role="menu" aria-label="Pagination">
                                <!-- *ngIf="!addStaffForm.controls['isResgistered']" -->
                                <button class="btn btn-danger m-2"  [disabled]="!addStaffForm?.valid" type="button" (click)="nativateTo()">Register Staff
                                </button>
                                <!-- *ngIf="addStaffForm.controls['isResgistered']" -->
                                <button class="btn btn-primary"  [disabled]="!addStaffForm?.valid"
                                    type="submit">Update Staff Details</button>
                                <button class="btn btn-primary m-2" [routerLink]="['/leads', staffId]"
                                    type="button">View His Lead</button>
                                <button class="btn btn-primary m-2" [routerLink]="['/login-logout-logs', username]" 
                                    type="button">View His Logs</button>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>