/* .addImage {
    background-color: rgb(8 13 92);
    color: white;
    float: right;
}

.add-img-input {
    float: left;
    width: 80px;
    margin-left: 10px;
}

.add-img-input input {
    background: white!important;
    border: 1px solid red!important;
    border-radius: 10px;
    width: 80px;
}

.add-img-input input[type=file] {
    opacity: 0;
}

.input-img {
    margin-left: 10px;
    min-width: 100px;
    max-width: 100%;
    border-radius: 10px;
}

.js-labelFile {
    display: flex;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 7px;
    background: white;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    padding: 5px 15px;
    justify-content: space-between;
}

img {
    width: 17%;
    height: 80px;
} */