<ngx-spinner></ngx-spinner>

<div class="row gutters">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Lead Details</div>
        <button class="btn btn-secondary" (click)="goBack()">Back</button>
      </div>
      <form [formGroup]="leadForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div id="example-form" class="wizard clearfix">
            <h3>Lead Id : {{ uniqueLeadName }}</h3>
            <h3>Lead Status : {{ leadResponse?.assign?.driverId ? 'Assigned' : 'Unassigned' }}</h3>

            <section>
              <!-- <h6 class="h-0 m-0">&nbsp;</h6> -->
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="field-wrapper">
                    <button class="btn btn-primary" type="submit">
                      Update Lead
                    </button>
                    <!-- *ngIf="vehiclePic?.length > 0" -->
                    <!-- <button
                      class="btn btn-warning m-3"
                      [copy-clipboard]="name"
                      (copied)="notify($event)"
                      type="button"
                    >
                      Share lead
                      <i class="icon-share text-info"></i>
                    </button> -->
                    <button
                      type="button"
                      class="btn btn-primary"
                      *ngIf="vehiclePic?.length > 0"
                      [routerLink]="['/product-data', leadId]"
                    >
                      View
                    </button>

                    <!-- <button
                      class="btn btn-success m-3"
                      (click)="openWhatsApp(phoneNumber)"
                      type="button"
                    >
                      Open WhatsApp
                    </button> -->
                    <button
                      class="btn btn-secondary m-3"
                      [ngClass]="{ 'btn-success': enableEdit }"
                      (click)="editPage()"
                      type="button"
                    >
                      <span *ngIf="!enableEdit">Edit Off</span>
                      <span *ngIf="enableEdit">Edit On</span>
                      <i class="icon-edit text-info"></i>
                    </button>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      type="text"
                      formControlName="fullName"
                      placeholder="Enetr Customer Full Name"
                      class="border-danger"
                    />
                    <div class="field-placeholder">
                      Customer Full Name <span class="text-danger">*</span>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      type="text"
                      formControlName="userCity"
                      placeholder="Enetr Location"
                      [readonly]="!enableEdit"
                    />
                    <div class="field-placeholder">
                      City <span *ngIf="!enableEdit">[RO]</span>
                      <span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      type="text"
                      formControlName="phoneNumber"
                      placeholder="Enetr Phone No"
                      [readonly]="!enableEdit"
                    />
                    <div class="field-placeholder">
                      Phone No <span *ngIf="!enableEdit">[RO]</span
                      ><span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      type="text"
                      formControlName="email"
                      placeholder="Enetr email"
                      [readonly]="!enableEdit"
                    />
                    <div class="field-placeholder">
                      Email <span *ngIf="!enableEdit">[RO]</span
                      ><span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      type="text"
                      formControlName="tripType"
                      placeholder="Enetr WhatsApp Number"
                      maxlength="10"
                      [readonly]="!enableEdit"
                    />
                    <div class="field-placeholder">Trip Type<span *ngIf="!enableEdit">[RO]</span
                      ><span class="text-danger">*</span></div>
                  </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      type="text"
                      formControlName="whatsAppNumber"
                      placeholder="Enetr WhatsApp Number"
                      maxlength="10"
                    />
                    <div class="field-placeholder">Whats App No</div>
                  </div>
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      type="text"
                      [readonly]="!enableEdit"
                      [value]="
                        leadForm.get('createdAt').value
                          | date : 'dd/MM/yyyy, h:mm a'
                      "
                      placeholder="Enetr Lead Date"
                      readonly
                    />
                    <div class="field-placeholder">Lead Date [RO]</div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">

                    <input
                      type="date"
                      [readonly]="!enableEdit"
                      [value]="formatDateForInput(leadForm.get('pickUpDate')?.value)"
                      placeholder="Enetr Lead Date"
                    />
                    <div class="field-placeholder">
                      Pick Up Date <span *ngIf="!enableEdit">[RO]</span
                      ><span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      type="text"
                      formControlName="totalKm"
                      placeholder="Enetr fule/Whell Type"
                      [readonly]="!enableEdit"
                    />
                    <div class="field-placeholder">
                      Total KM <span *ngIf="!enableEdit">[RO]</span
                      ><span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      type="text"
                      formControlName="totalAmount"
                      placeholder="Enetr Model"
                      [readonly]="!enableEdit"
                    />
                    <div class="field-placeholder">
                      Total Amount <span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      (keypress)="numberOnly($event)"
                      type="text"
                      formControlName="vehicleType"
                      placeholder="Enetr Year"
                      [readonly]="!enableEdit"
                    />
                    <div class="field-placeholder">
                      Vehicle Type <span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      (keypress)="numberOnly($event)"
                      readonly
                      type="text"
                      formControlName="price"
                      placeholder="Shown Price"
                      class="bg-primary text-white"
                    />
                    <div class="field-placeholder">
                      Shown Price [RO]<span class="text-danger">*</span>
                    </div>
                  </div>
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      type="time"
                      [readonly]="!enableEdit"
                      [value]="formatTimeForInput(leadForm.get('pickUpTime')?.value)"
                      placeholder="Enetr Lead Date"
                    />
                    <div class="field-placeholder">
                      Pick Up Time <span *ngIf="!enableEdit">[RO]</span
                      ><span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                  <div class="field-wrapper">
                    <textarea
                      name=""
                      id=""
                      cols="1"
                      rows="4"
                      placeholder="Enetr Address"
                      class="border-danger"
                      formControlName="locationList"
                      [readonly]="!enableEdit"
                    ></textarea>
                    <div class="field-placeholder">
                      Locations <span *ngIf="!enableEdit">[RO]</span
                      ><span class="text-danger">*</span>
                    </div>
                  </div>
                </div>


                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                  <div class="field-wrapper">
                    <textarea
                      name=""
                      id=""
                      cols="1"
                      rows="2"
                      placeholder="Enetr Comment"
                      class="border-danger"
                      formControlName="comment"
                      [readonly]="!enableEdit"
                    ></textarea>
                    <div class="field-placeholder">
                      Add Comment <span *ngIf="!enableEdit">[RO]</span>
                      <span class="text-danger">*</span>
                    </div>
                  </div>
                </div> -->

                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      type="text"
                      formControlName="chasisNumber"
                      placeholder="Enetr Chasis No"
                      class="border-danger"
                    />
                    <div class="field-placeholder">
                      Chasis Number <span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <select
                      formControlName="userDocumentType"
                      class="select-single border-danger js-states"
                      title="Select Dealer City"
                    >
                      <option selected disabled>Select Document Type</option>
                      <option value="Aadhar">Aadhar</option>
                      <option value="Voter Id">Voter Id</option>
                      <option value="Driving Licence">Driving Licence</option>
                      <option value="Passport">Passport</option>
                      <option value="Pancard">Pancard</option>
                      <option value="Company id card">Company I'd card</option>
                      <option value="Bank Passbook">Bank Passbook</option>
                    </select>
                    <div class="field-placeholder">
                      User Document Type <span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      formControlName="userDocumentNumber"
                      type="text"
                      valueAsNumber
                      placeholder="Enetr Document No"
                      class="border-danger"
                    />
                    <div class="field-placeholder">
                      User Document No <span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      formControlName="vehicleNumber"
                      type="text"
                      valueAsNumber
                      placeholder="Enetr Vehicle No"
                      class="border-danger"
                    />
                    <div class="field-placeholder">
                      Vehicle Number <span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      formControlName="engineNumber"
                      type="text"
                      valueAsNumber
                      placeholder="Enetr Engine No"
                      class="border-danger"
                    />
                    <div class="field-placeholder">
                      Engine Number <span class="text-danger">*</span>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <select
                      formControlName="leadIsVerified"
                      class="select-single border-danger js-states"
                      title="Select Verification"
                    >
                      <option selected disabled>Select verification</option>
                      <option value="true">True</option>
                      <option value="false">False</option>
                    </select>
                    <div class="field-placeholder">
                      Verification (Show To Dealer)<span class="text-danger"
                        >*</span
                      >
                    </div>
                  </div>
                </div> -->

                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <select
                      [(ngModel)]="leadStatus"
                      [ngModelOptions]="{ standalone: true }"
                      class="select-single border-danger js-states"
                      title="Select Dealer City"
                      (change)="leadStatusChange($event.target)"
                    >
                      <option value="0" disabled selected>Select Status</option>
                      <option value="NEW-LEAD">NEW-LEAD</option>
                      <option value="PROCESSING">PROCESSING</option>
                      <option value="ASSIGNED">ASSIGNED</option>
                      <option value="SCHEDULED">SCHEDULED</option>
                      <option value="PICKEDUP">PICKEDUP</option>
                      <option value="DEAL_CANCELLED">DEAL CANCELLED</option>
                      <option value="SCRAPPED">SCRAPPED</option>
                      <option *ngIf="scrapedPic" value="CLOSED">
                        Scrapped Verified
                      </option>
                    </select>
                    <div class="field-placeholder">
                      Lead Status<span class="text-danger">*</span>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      [(ngModel)]="teleCallerData"
                      [ngModelOptions]="{ standalone: true }"
                      type="text"
                      [readonly]="!enableEdit"
                      placeholder="Nobody Updated Yet"
                      class="border-danger"
                    />
                    <div class="field-placeholder">
                      Handled By <span *ngIf="!enableEdit">[RO]</span>
                      <span class="text-danger"></span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                  <div class="field-wrapper">
                    <input
                      formControlName="userAddressGoogleMapLink"
                      type="text"
                      placeholder="Google Map Link"
                      class="border-danger"
                    />
                    <div class="field-placeholder">
                      G-Map Link <span class="text-danger"></span>
                    </div>
                  </div>
                </div> -->

              <div  *ngIf="!selectedDriverAssigned">
                       <div>
                         <div class="card-title">Manually Add Drivers ({{allDrivers?.length}})</div>
                        <button
                          style="visibility: hidden"
                          (click)="addFields()"
                        >
                          Add
                        </button>
                      </div>
                      <div>
                        <ng-container
                          formArrayName="items"
                          *ngFor="let item of abcd.controls; let i = index"
                        >
                          <div [formGroupName]="i" class="add-img-input">
                            <div class="row">
                        
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                              <div class="field-wrapper">
                                <ng-container
                                  *ngIf="allDrivers?.length > 0; else noDrivers"
                                >
                                  <select
                                    class="select-single js-states"
                                    (change)="selectDriver($event.target)"
                                    title="Select Driver City"
                                    data-live-search="true"
                                  >
                                    <option selected disabled value="">
                                      Select Driver
                                    </option>
                                    <option
                                      *ngFor="let dele of allDrivers"
                                      [value]="dele?._id"
                                    >
                                      {{ dele?.firstName + dele?.lastName + " " +(dele?.driverId?.accountType == 'agency' ? '🏛️' : '🧍')}} 
                                    </option>
                                  </select>
                                </ng-container>
                                <ng-template #noDrivers>
                                  <p>No Drivers in this city</p>
                                </ng-template>
                                <div class="field-placeholder">
                                  Select Driver
                                  <span class="text-danger">*</span>
                                </div>
                              </div>
                            </div>
                            <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                              <div class="field-wrapper">
                                <button
                                  class="btn btn-secondary"
                                  (click)="assignLeadToDriver('assign')"
                                  type="button"
                                >
                                  Assign Lead to Driver
                                </button>
                              </div>
                            </div> -->
                          </div>
                        </ng-container>
                      </div>
                       </div>

                      <div class="card-body" *ngIf="selectedDriverAssigned">
                        <div class="card-title">Driver Assigned List</div>

                        <div class="table-responsive">
                          <ng-container
                            *ngIf="
                              selectedDriverAssigned;
                              else noDriverAssigned
                            "
                          >
                            <table id="copy-print-csv" class="table v-middle">
                              <thead>
                                <tr>
                                  <th>Full Name</th>
                                  <th>Phone No</th>
                                  <th>Account Type</th>
                                  <th>State</th>
                                  <th>City</th>
                                  <th *ngIf="!assignedDealerData">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{{ selectedDriverAssigned?.firstName + " " + selectedDriverAssigned?.lastName }}</td>
                                  <td>{{ selectedDriverAssigned?.driverId?.phoneNumber }}</td>
                                  <td>{{ selectedDriverAssigned?.driverId?.accountType | titlecase }}</td>
                                  <td>{{ selectedDriverAssigned?.state }}</td>
                                  <td>{{ selectedDriverAssigned?.city }}</td>



                                  <td>
                                    <div
                                      class="actions d-flex justify-content-between"
                                    >
                                      <div class="field-wrapper">
                                        <button class="btn btn-info" (click)="assignLeadToDriver(leadResponse?.assign?.driverId ? 'Unassign' : 'Assign')" type="button">{{ leadResponse?.assign?.driverId ? 'Unassign' : 'Assign'}} Lead</button>
                                      </div>
                                    </div>

                                    <!-- <div
                                      class="actions d-flex justify-content-between"
                                      *ngIf="isAssigned && dele?.isAssigned"
                                    >
                                      <div class="field-wrapper">
                                        <div class="dropdown">
                                          <button
                                            class="btn btn-success dropdown-toggle"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                          >
                                            Assigned
                                          </button>
                                          <div
                                            class="dropdown-menu"
                                            aria-labelledby="dropdownMenuButton"
                                          >
                                            <a
                                              class="dropdown-item text-danger"
                                              (click)="
                                                assignToDriver(
                                                  dele?.driverId,
                                                  i,
                                                  false
                                                )
                                              "
                                              >Un-Assign
                                            </a>
                                            <a
                                              class="dropdown-item"
                                              [routerLink]="[
                                                '/single-dealer',
                                                dele?.driverId
                                              ]"
                                              >Go to dealer page
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div> -->
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </ng-container>
                          <ng-template #noDriverAssigned>
                            <h4>No Quotaion form any dealer</h4>
                          </ng-template>
                        </div>
                      </div>

 
              </div>
            </section>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
