<ngx-spinner></ngx-spinner>
<h4 class="d-flex justify-content-center">
  {{ myLeadsId ? "Carbajar (Staff Leads)" : "Drivers" }}
</h4>

<div class="container">
  <div class="visitor-addmission-inner">
    <mat-accordion class="example-headers-align accordion-class" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Search Condition </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- <div class="d-flex-div mb-3">
                    <div class="d-flex">
                        <button type="button" class="filter-btn mr-10" (click)="addFilter('and')">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            AND Filter:
                        </button>
                
                    </div>
                    <div class="d-flex">
                        <button type="button" class="filter-btn" (click)="clearFilter()">
                            <i class="fa fa-eraser" aria-hidden="true"></i>
                            Clear
                        </button>
                        <button type="button" class="filter-btn ml-10" (click)="searchFilters()">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Search
                        </button>
                    </div>
                </div> -->

        <!-- <ul *ngFor="let col of column">
        <li> {{ col.col }}</li>
      </ul> -->

        <mat-card *ngIf="andFilter?.length > 0">
          <mat-card-content>
            <form *ngFor="let and of andFilter; let i = index">
              <div class="form-div">
                <div class="d-flex-input form-fields">
                  <mat-label class="input-label first-label-w"
                    >AND Filter:
                  </mat-label>
                  <mat-form-field appearance="fill" class="mat-form-field-line">
                    <!-- <mat-select placeholder="Select" (selectionChange)="selection('and', i, $event)">
                     
                                  <ng-container *ngFor="let col of column">
                                      <mat-option *ngIf="col.forFilter" [value]="col.name">
                                          {{ col.col }}
                                      </mat-option>
                                  </ng-container>
                              </mat-select> -->
                    <select
                      matNativeControl
                      required
                      (change)="selection('and', i, $event.target)"
                    >
                      <option disabled selected>Select Fields</option>
                      <option *ngFor="let col of column" [value]="col.name">
                        {{ col.col }}
                      </option>
                    </select>
                  </mat-form-field>
                </div>

                <div class="d-flex-input form-fields">
                  <mat-label class="input-label">Value: </mat-label>
                  <mat-form-field appearance="fill">
                    <input
                      type="text"
                      list="dynmicUserIds"
                      maxlength="100"
                      matInput
                      placeholder="Enter Value"
                      (blur)="setValue($event, i, 'and')"
                    />
                    <datalist id="dynmicUserIds">
                      <option *ngFor="let item of userList1" [value]="item">
                        {{ item }}
                      </option>
                    </datalist>
                    <mat-icon class="check-icon-input" matSuffix
                      >check_circle</mat-icon
                    >
                  </mat-form-field>
                </div>

                <button
                  type="button"
                  mat-flat-button
                  color="warn"
                  class="close-btn"
                  (click)="deleteFilter('and', i)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="orFilter?.length > 0">
          <mat-card-content>
            <form *ngFor="let or of orFilter; let k = index">
              <div class="form-div">
                <div class="d-flex-input form-fields">
                  <mat-label class="input-label first-label-w"
                    >OR Filter:
                  </mat-label>
                  <mat-form-field appearance="fill" class="mat-form-field-line">
                    <mat-select
                      placeholder="Select"
                      (selectionChange)="selection('or', k, $event)"
                    >
                      <ng-container *ngFor="let col of column">
                        <mat-option *ngIf="col.forFilter" [value]="col.name">
                          {{ col.col }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="d-flex-input form-fields">
                  <mat-label class="input-label">Value: </mat-label>
                  <mat-form-field appearance="fill">
                    <input
                      type="text"
                      maxlength="100"
                      matInput
                      placeholder="Enter Name"
                      (blur)="setValue($event, k, 'or')"
                    />
                    <mat-icon class="check-icon-input" matSuffix
                      >check_circle</mat-icon
                    >
                  </mat-form-field>
                </div>

                <button
                  mat-flat-button
                  type="button"
                  color="warn"
                  class="close-btn"
                  (click)="deleteFilter('or', k)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>

        <div class="d-flex-div mb-3">
          <div class="d-flex">
            <button
              type="button"
              class="filter-btn mr-10"
              (click)="addFilter('and')"
            >
              <i class="fa fa-filter" aria-hidden="true"></i>
              AND Filter:
            </button>
            <!-- <button type="button" class="filter-btn" (click)="addFilter('or')">
<i class="fa fa-filter" aria-hidden="true"></i>
Add OR Filter
</button> -->
          </div>
          <div class="d-flex">
            <button type="button" class="filter-btn" (click)="clearFilter()">
              <i class="fa fa-eraser" aria-hidden="true"></i>
              Clear
            </button>
            <button
              type="button"
              class="filter-btn ml-10"
              (click)="searchFilters()"
            >
              <i class="fa fa-search" aria-hidden="true"></i>
              Search
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- <input type="date" name="date" class="mt-5 w-100" (change)="getByDate($event.target)"
            *ngIf="loginType == 'other'">
        <div class="d-flex" *ngIf="loginType == 'other'">
            <input type="text" placeholder="Enter Phone Number" name="phonwNumber" class="mt-5 h-auto"
                [(ngModel)]="phoneNo">
            <button (click)="phoneNumber()">Get Ph</button>
        </div> -->

    <!-- <div class="excel-div mt-4">
            <button class="btn btn-warning" (click)="changeView()">List</button>
            <button class="btn btn-info" (click)="changeView()">Grid</button>

            <button class="excel-btn" (click)="downloadExcel()" matTooltip="download_excel"
                *ngIf="loginType == 'other'">
                <span><img src="assets/img/excel.svg" /></span>
            </button> -->

    <!-- <button class="hideshwo">
<i class="fa fa-eye" aria-hidden="true"></i>
{{ "REPORTS.SHOW-HIDE" | translate }}
</button> -->

    <!-- <div class="pannel-icon" (click)="clearFilter()" matTooltip="reset" *ngIf="loginType == 'other'">
                <mat-icon class="icon-s">refresh</mat-icon>
            </div> -->
  </div>
</div>

<div class="container mt-2">
  <div class="visitor-addmission-inner">
    <mat-accordion class="example-headers-align accordion-class" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Custom Date Search </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card>
          <mat-card-content>
            <div class="row mt-5">
              <div class="col-6">
                <!-- <div class="date-range-container"> -->
                <!-- Start Date Picker -->
                <mat-form-field appearance="outline">
                  <mat-label>Start Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="startPicker"
                    [(ngModel)]="startDate"
                    (dateChange)="validateDates()"
                    placeholder="Select start date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="startPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>

                <!-- </div> -->
              </div>
              <div class="col-6">
                <!-- End Date Picker -->
                <mat-form-field appearance="outline">
                  <mat-label>End Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="endPicker"
                    [(ngModel)]="endDate"
                    (dateChange)="validateDates()"
                    placeholder="Select end date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-12">
                <button (click)="getDates()">Get Leads of Selected Date</button>
                <button (click)="clearDates()" class="ml-3">X</button>
              </div>
              <!-- Error message -->
              <div *ngIf="dateError" class="error">
                End date must be greater than or equal to start date.
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="row">
  <div class="mt-3 mb-3 col-6 col-md-4">
    <select
      name=""
      id=""
      (change)="getValue($event)"
      class="form-control"
      [(ngModel)]="value"
    >
      <option value="{{ f?.value }}" *ngFor="let f of filterArray">
        {{ f?.name }}
      </option>
    </select>
  </div>
  <!-- <div class="mt-3 mb-3 col-6 col-md-4">
        <mat-form-field appearance="fill" class="show-hide-i">
            <label><i class="fa fa-eye" aria-hidden="true"></i>
                Show/Hide Fields</label>
            <mat-select multiple [(ngModel)]="selectedColumn">
                <ng-container *ngFor="let col of column">
                    <mat-option #matOption (click)="changeValue(matOption)" *ngIf="col.forColumn" [value]="col.name">
                        {{ col.col }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div> -->

  <div class="mt-3 mb-3 col-6 col-md-4 position-relative">
    <input
      type="text"
      class="dateSelector form-control pe-5 w90"
      placeholder="Enter Phone Number"
      (ngModelChange)="cleanPhoneNumber()"
      [(ngModel)]="phoneNoSearch"
      (keyup.enter)="getAllLeads()"
    />
    <i
      class="fa fa-search position-absolute top-50 end-0 translate-middle-y me-4"
      (click)="cleanPhoneNumber()"
    ></i>
    <i
      class="fa fa-times-circle position-absolute top-50 end-0 translate-middle-y me-5"
      (click)="clearSelected('phoneNumber')"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Clear Number"
      aria-label="Clear Number"
      *ngIf="phoneNoSearch"
    ></i>
  </div>

  <div class="mt-3 mb-3 col-6 col-md-4">
    <input
      type="date"
      class="dateSelector"
      (change)="onDateChange($event.target)"
      [(ngModel)]="originalCreatedDateSelected"
    />

    <i
      class="fa fa-times-circle"
      (click)="clearSelected('createdDate')"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Clear Date"
      aria-label="Clear Date"
      *ngIf="createdDate"
    ></i>
  </div>
  <!-- <div class="mt-3 mb-3 col-6 col-md-4 position-relative">
    <input
      type="text"
      class="dateSelector form-control pe-5 w90"
      placeholder="Paste partner lead URL"
      (ngModelChange)="onUrlChange()"
      [(ngModel)]="partnerUrl"
    />
    <i
      class="fa fa-search position-absolute top-50 end-0 translate-middle-y me-4"
      (click)="handlePartnerUrl()"
    ></i>
    <i
      class="fa fa-times-circle position-absolute top-50 end-0 translate-middle-y me-5"
      (click)="clearSelected('partnerUrl')"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Clear url"
      aria-label="Clear url"
      *ngIf="partnerUrl"
    ></i>
  </div> -->

  <div class="d-flex justify-content-between mt-3 mb-3 row">
    <div
      class="dataTables_info col-12 col-md-6"
      id="copy-print-csv_info"
      role="status"
      aria-live="polite"
    >
      Showing {{ currentPageLimit * (currentPage - 1) + 1 }} to
      {{ currentPageLimit * currentPage }} of {{ totalList }} entries
    </div>

    <div class="col-12 col-md-6">
      <pagination
        [paginationList]="pagination"
        [selectedPageLimit]="currentPageLimit"
        [currentPage]="currentPage"
        (onPageChange)="getPage($event)"
        [lastPage]="lastpage"
      >
      </pagination>
    </div>
  </div>

  <!-- <div *ngFor="let item of sortData">
        {{item?.updatedAt}} -- {{item?.createdBy?.phoneNumber}}
      </div> -->
  <ng-container *ngIf="listView; else gridView">
    <!-- Row start -->
    <div class="row gutters">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <ng-container *ngIf="getList?.length > 0; else noData">
              <div class="table-responsive">
                <table id="copy-print-csv" class="table v-middle">
                  <thead>
                    <tr>
                      <th>SL No</th>
                      <!-- <th>Lead Id</th> -->
                      <th>Username</th>
                      <th>Phone No</th>
                      <!-- <th *ngIf="checkColumn('guestUserCount')">Attempts</th> -->
                      <th>Email</th>
                      <!-- <th *ngIf="checkColumn('createdAt')">Lead Date</th> -->
                      <th>Account Type</th>
                      <!-- <th *ngIf="checkColumn('teleCaller')">
                        Customer Response
                      </th> -->
                      <th>Created At</th>
                      <!-- <th *ngIf="checkColumn('condition')">Condition</th> -->
                      <th>Updated At</th>
                      <!-- <th *ngIf="checkColumn('vehicleType')">Vehicle Type</th> -->
                      <!-- <th *ngIf="checkColumn('location')">Location</th> -->
                      <!-- <th *ngIf="checkColumn('brandName')">Brand</th> -->
                      <!-- <th *ngIf="checkColumn('modelName')">Model</th> -->
                      <!-- <th *ngIf="checkColumn('fuleWhellType')">F/W Type</th> -->
                      <!-- <th>Condition</th> -->
                      <!-- <th *ngIf="checkColumn('manufactureYear')">Year</th> -->
                      <!-- <th>Amount Shown</th> -->
                      <!-- <th>Customer Final Amount</th>
                                      <th>Dealer Quotation</th>
                                      <th>Assign Dealer</th> -->
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let abc of getList; let i = index">
                    <!-- <tr
                      [ngClass]="{
                        'bg-dark text-white': abc?.vehiclePictures?.length > 0
                      }"
                    > -->
                    <tr>
                      <td
                        [ngClass]="{
                          'bg-primary text-white': showDate == abc?.createdAt
                        }"
                        (click)="navigation('/edit-lead', abc?._id)"
                        class="position-relative"
                      >
                        <span
                          class="position-absolute p-1 bg-danger border border-light rounded-circle"
                          *ngIf="abc?.adminHasSeenQuotation == false"
                        >
                          <span class="visually-hidden">New alerts</span>
                        </span>

                        {{ currentPageLimit * (currentPage - 1) + (i + 1) }}
                      </td>
                      <td (click)="navigation('/edit-lead', abc?._id)">
                        {{ abc?.username }}
                      </td>
                      <!-- <td
                        (click)="navigation('/edit-lead', abc?._id)"
                        [ngClass]="{
                          'bg-danger text-white':
                            abc?.dealerQuotationId?.length > 0
                        }"
                        *ngIf="abc?.phoneNumber"
                      >
                        {{ abc?.phoneNumber }}
                      </td> -->
                      <td (click)="navigation('/edit-lead', abc?._id)">
                        {{ abc?.phoneNumber }}
                      </td>
                      <!-- <td
                        (click)="navigation('/edit-lead', abc?._id)"
                        [ngClass]="{
                          'bg-danger text-white':
                            abc?.dealerQuotationId?.length > 0
                        }"
                        *ngIf="!abc?.phoneNumber"
                      >
                        {{ abc?.createdBy?.phoneNumber }}
                      </td> -->
                      <!-- <td
                        (click)="navigation('/edit-lead', abc?._id)"
                        *ngIf="checkColumn('guestUserCount')"
                        [ngClass]="{ 'bg-success': abc?.comment }"
                      >
                        {{ abc?.guestUserCount }}
                      </td> -->
                      <td (click)="navigation('/edit-lead', abc?._id)">
                        {{ abc?.email }}
                      </td>
                      <td (click)="navigation('/edit-lead', abc?._id)">
                        {{ abc?.accountType }}
                      </td>
                      <!-- <td
                        (click)="navigation('/edit-lead', abc?._id)"
                      >
                        {{ abc?.createdAt | date : "short" }}
                      </td> -->
                      <td (click)="navigation('/edit-lead', abc?._id)">
                        {{ abc?.createdAt | date : "short" }}
                      </td>
                      <td (click)="navigation('/edit-lead', abc?._id)">
                        {{ abc?.updatedAt | date : "short" }}
                      </td>

                      <!-- {{
                        abc?.teleCaller
                      }} -->
                      <!-- <td class="text-dark" *ngIf="checkColumn('teleCaller')">
                                                <span *ngIf="dropdownIndex != i" (click)="showDropdown(i)"
                                                    class="text-primary" [ngClass]="[
                          abc?.teleCaller == 'DealCancelled' ? 'text-danger' : '',
                          abc?.teleCaller == 'AskingHighPrice' ? 'text-danger' : '',
                          abc?.teleCaller == 'Call me later' ? 'text-info' : '',
                          abc?.teleCaller == 'AssignedToDealer'
                            ? 'text-success'
                            : '',
                          abc?.teleCaller == 'Completed' ? 'text-success' : '',
                          abc?.teleCaller == 'CallMeLater' ? 'text-success' : '',
                          abc?.teleCaller == 'NotResponding' ? 'text-warning' : '',
                          abc?.teleCaller == 'NotReachable' ? 'text-warning' : '',
                          abc?.teleCaller == 'NEW-DATA' ? 'text-dark' : ''
                        ]"><i class="icon-x-circle"></i> {{ abc?.teleCaller }}
                                                </span>

                                                <select *ngIf="dropdownIndex == i"
                                                    class="select-single js-states text-dark"
                                                    (change)="updateList(abc, $event.target)"
                                                    title="Select Product Category" data-live-search="true">
                                                    <option disabled selected>Select Lead Status</option>
                                                    <option value="NotReachable">Not reachable</option>
                                                    <option value="CallMeLater">Call me later</option>
                                                    <option value="AskingHighPrice">Asking high price</option>
                                                    <option value="NotResponding">Not responding</option>
                                                    <option value="NotInterested">Not interested</option>
                                                    <option value="SendingImages">Sending Images</option>
                                                    <option value="CheckingPrice">Checking price</option>
                                                    <option value="LineBusy">Line Busy</option>
                                                    <option value="DealCancelled">Deal cancelled</option>
                                                    <option value="DealAccepted">Deal accepted</option>
                                                    <option value="AssignedToDealer">Assigned to dealer</option>
                                                    <option value="Completed">Completed</option>
                                                </select>
                                            </td> -->
                      <!-- <td
                        (click)="navigation('/edit-lead', abc?._id)"
                        *ngIf="checkColumn('condition')"
                      >
                        {{ abc?.condition }}
                      </td> -->
                      <!-- <td
                        (click)="navigation('/edit-lead', abc?._id)"
                        *ngIf="checkColumn('vehicleType')"
                      >
                        {{ abc?.vehicleType }}
                      </td> -->
                      <!-- <td
                        (click)="navigation('/edit-lead', abc?._id)"
                        *ngIf="checkColumn('location')"
                      >
                        {{ abc?.location }}
                      </td> -->
                      <!-- <td
                        (click)="navigation('/edit-lead', abc?._id)"
                        *ngIf="checkColumn('brandName')"
                      >
                        {{ abc?.brandName }}
                      </td> -->
                      <!-- <td
                        (click)="navigation('/edit-lead', abc?._id)"
                        *ngIf="checkColumn('modelName')"
                      >
                        {{ abc?.modelName }}
                      </td> -->
                      <!-- <td
                        (click)="navigation('/edit-lead', abc?._id)"
                        *ngIf="checkColumn('fuleWhellType')"
                      >
                        {{ abc?.fuleWhellType }}
                      </td> -->
                      <!-- <td
                        (click)="navigation('/edit-lead', abc?._id)"
                        *ngIf="checkColumn('manufactureYear')"
                      >
                        {{ abc?.manufactureYear }}
                      </td> -->

                      <td>
                        <div class="actions d-flex justify-content-between">
                          <a
                            data-toggle="tooltip"
                            data-placement="top"
                            title=""
                            data-original-title="View"
                            data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#collapseExample' + i"
                            aria-expanded="false"
                            aria-controls="collapseExample"
                          >
                            <i class="icon-eye1 text-success"></i>
                          </a>

                          <a
                            data-toggle="tooltip"
                            data-placement="top"
                            title=""
                            data-original-title="Edit"
                            (click)="navigation('/edit-lead', abc?._id)"
                          >
                            <i class="icon-edit1 text-info"></i>
                          </a>
                          <!-- <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" routerLink="/product-data">
                                                <i class="icon-share text-info"></i>
                                            </a> -->
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-0"></td>
                      <td class="p-0" colspan="9">
                        <div class="collapse pt-2" [id]="'collapseExample' + i">
                          <div class="row gutters">
                            <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                          <div class="field-wrapper">
                                            <input type="text" formControlName="username" placeholder="Enetr User Name" />
                                            <div class="field-placeholder">
                                              Dealer User Name <span class="text-danger">*</span>
                                            </div>
                                          </div>
                                        </div> -->
                            <div
                              class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"
                            >
                              <div class="field-wrapper">
                                <input
                                  readonly
                                  type="text"
                                  [value]="abc?.condition"
                                  placeholder="Enetr Password"
                                />
                                <div class="field-placeholder">
                                  Condition <span class="text-danger">*</span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"
                            >
                              <div class="field-wrapper">
                                <input
                                  readonly
                                  type="text"
                                  [value]="abc?.price"
                                  placeholder="Enetr Password"
                                />
                                <div class="field-placeholder">
                                  Price Shown <span class="text-danger">*</span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"
                              *ngIf="abc?.userFinalAmount"
                            >
                              <div class="field-wrapper">
                                <div class="row">
                                  <div class="col-8">
                                    <input
                                      readonly
                                      [value]="abc?.userFinalAmount"
                                      type="number"
                                      placeholder="Customer Final Amount"
                                    />
                                  </div>
                                </div>

                                <div class="field-placeholder">
                                  Customer Final Amt
                                  <span class="text-danger">*</span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"
                              *ngIf="abc?.vehiclePictures"
                            >
                              <div class="field-wrapper">
                                <div class="row">
                                  <div class="col-8">
                                    <input
                                      readonly
                                      [value]="abc?.vehiclePictures?.length"
                                      type="text"
                                      placeholder="Vehicle Pictures"
                                    />
                                  </div>
                                </div>

                                <div class="field-placeholder">
                                  Vehicle Pictures
                                  <span class="text-danger">*</span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"
                              *ngIf="abc?.dealerQuotationId"
                            >
                              <div class="field-wrapper">
                                <div class="row">
                                  <div class="col-8">
                                    <input
                                      readonly
                                      [value]="abc?.dealerQuotationId?.length"
                                      type="text"
                                      placeholder="Dealer Quotation"
                                    />
                                  </div>
                                </div>

                                <div class="field-placeholder">
                                  Dealer Quotation
                                  <span class="text-danger">*</span>
                                </div>
                              </div>
                            </div>
                            <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                          <div class="field-wrapper">
                                            <input type="text" formControlName="city" placeholder="Enetr City" />
                                            <div class="field-placeholder">
                                              Dealer City <span class="text-danger">*</span>
                                            </div>
                                          </div>
                                        </div> -->
                            <div
                              class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"
                              *ngIf="abc?.dealerdata?.dealerAmount"
                            >
                              <div class="field-wrapper">
                                <input
                                  *ngIf="!abc?.dealerdata?.dealerAmount"
                                  type="text"
                                  placeholder="Quotation"
                                  class="border-danger"
                                  [value]="abc?.dealerdata?.dealerAmount"
                                />
                                <!-- <span *ngIf="abc?.dealerdata?.dealerAmount">{{
                                abc?.dealerdata?.dealerAmount
                              }}</span> -->
                                <div class="field-placeholder">
                                  Dealer Quotation
                                  <span class="text-danger">*</span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"
                              *ngIf="abc?.dealerdata?.dealerName"
                            >
                              <div class="field-wrapper">
                                <input
                                  type="text"
                                  name=""
                                  *ngIf="abc?.dealerdata?.dealerName"
                                  id=""
                                  [ngClass]="[
                                    abc?.dealerdata?.dealerName
                                      ? 'text-success'
                                      : 'text-danger'
                                  ]"
                                  [value]="abc?.dealerdata?.dealerName"
                                />

                                <!-- <span
                                *ngIf="assignIndex != i"
                                [ngClass]="[
                                  abc?.dealerdata?.dealerName
                                    ? 'text-success'
                                    : 'text-danger'
                                ]"
                                (click)="showDealers(i)"
                              >
                                <span *ngIf="abc?.dealerdata?.dealerName">{{
                                  abc?.dealerdata?.dealerName
                                }}</span>
    
                                <span *ngIf="!abc?.dealerdata?.dealerName"
                                  >Assign to Dealer</span
                                >
                              </span> -->

                                <!-- <select
                                *ngIf="
                                  !abc?.dealerdata?.dealerName && assignIndex == i
                                "
                                class="select-single js-states"
                                (change)="
                                  assignToDealer(abc?._id, $event.target, abc)
                                "
                                title="Select Product Category"
                                data-live-search="true"
                              >
                                <option disabled selected>Select Dealer</option>
                                <option
                                  *ngFor="let dele of allDealers"
                                  [value]="dele?._id"
                                >
                                  {{ dele?.createdBy?.fullName }}
                                </option>
                              </select> -->
                                <!-- <select
                              *ngIf="!abc?.dealerdata?.dealerName"
                                class="select-single js-states border-danger"
                                (change)="
                                  assignToDealer(abc?._id, $event.target, abc)
                                "
                                title="Select Product Category"
                                data-live-search="true"
                              >
                                <option disabled selected>Assign to Dealer</option>
                                <option
                                  *ngFor="let dele of allDealers"
                                  [value]="dele?._id"
                                >
                                  {{ dele?.createdBy?.fullName }}
                                </option>
                              </select> -->
                                <div class="field-placeholder">
                                  Assign Dealer
                                </div>
                              </div>
                            </div>
                            <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="field-wrapper">
                              <select
                                class="select-single js-states"
                                title="Select Dealer City"
                                data-live-search="true"
                              >
                                <option selected disabled value="">
                                  Select City
                                </option>
                                <option value="Bangalore">Bangalore</option>
                                <option value="Mysore">Mysore</option>
                                <option value="Kolkata">Kolkata</option>
                              </select>
                              <div class="field-placeholder">
                                Dealer City <span class="text-danger">*</span>
                              </div>
                            </div>
                          </div> -->
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="d-flex justify-content-between mt-3 mb-3 row">
                  <div
                    class="dataTables_info col-12 col-md-6"
                    id="copy-print-csv_info"
                    role="status"
                    aria-live="polite"
                  >
                    Showing {{ currentPageLimit * (currentPage - 1) + 1 }} to
                    {{ currentPageLimit * currentPage }} of
                    {{ totalList }} entries
                  </div>

                  <div class="col-12 col-md-6">
                    <pagination
                      [paginationList]="pagination"
                      [selectedPageLimit]="currentPageLimit"
                      [currentPage]="currentPage"
                      (onPageChange)="getPage($event)"
                      [lastPage]="lastpage"
                    >
                    </pagination>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #noData>
              <h4>No Data Found</h4>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <!-- Row end -->
  </ng-container>

  <ng-template #gridView>
    <!-- Row start -->
    <div class="row gutters">
      <div
        class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12"
        *ngFor="let abc of getList; let i = index"
      >
        <div class="product-card">
          <span
            class="product-thumbnail"
            *ngFor="let pic of abc?.vehiclePictures.slice(0, 1); let i = index"
          >
            <img
              class="product-card-img-top"
              [src]="pic.img"
              alt="Card image cap"
            />
          </span>
          <div class="product-card-body">
            <h5 class="product-title">
              {{ abc?.brandName }} {{ " " + abc?.modelName }}
            </h5>
            <div class="product-price d-flex justify-content-between">
              <span class="disount-price"
                ><i
                  class="fa-solid fa-location-dot marRig"
                  style="color: #1273eb"
                ></i
                >{{ abc?.location }}</span
              >
              <span class="disount-price" *ngIf="abc?.vehicleType == 'Car'"
                ><i
                  class="fa-solid fa-gas-pump marRig"
                  style="color: #1273eb"
                ></i
                >{{ abc?.fuleWhellType }}</span
              >
              <span class="disount-price" *ngIf="abc?.vehicleType == 'Bike'"
                ><i
                  class="fa-solid fa-circle-radiation marRig"
                  style="color: #1273eb"
                ></i
                >{{ abc?.fuleWhellType }}</span
              >

              <!-- <span class="actucal-price">$600</span> -->
              <!-- <span class="off-price">10% Off</span> -->
            </div>
            <div class="product-price d-flex justify-content-between mt-2">
              <span class="disount-price"
                ><i
                  class="fa-solid fa-calendar-minus marRig"
                  style="color: #1273eb"
                ></i
                >{{ abc?.manufactureYear }}</span
              >
              <span
                class="disount-price"
                *ngIf="abc?.condition == 'Not_Running'"
                ><i
                  class="fa-solid fa-caret-down marRig"
                  style="color: #fe0d05"
                ></i
                >{{ abc?.condition }}</span
              >
              <span class="disount-price" *ngIf="abc?.condition == 'Running'"
                ><i
                  class="fa-solid fa-caret-up marRig"
                  style="color: #1273eb"
                ></i
                >{{ abc?.condition }}</span
              >
              <!-- <span class="actucal-price">$600</span> -->
              <!-- <span class="off-price">10% Off</span> -->
            </div>
            <div class="product-price mt-2">
              <span *ngIf="abc?.userFinalAmount" class="disount-price fs-6"
                >₹{{ abc?.userFinalAmount }}</span
              >
              <span *ngIf="!abc?.userFinalAmount" class="disount-price fs-6"
                >₹ Ask User</span
              >
            </div>
            <div class="product-rating justify-content-between">
              <button
                class="btn-secondary"
                [copy-clipboard]="name"
                (click)="notify(abc?._id)"
              >
                share
              </button>
              <button
                class="btn-primary"
                (click)="navigation('/edit-lead', abc?._id)"
              >
                View
              </button>
            </div>
            <!-- <div class="product-description">
                      Xuartz movement, manufactured by Zitizen watch co., ltd.
                  </div> -->
            <!-- <div class="product-actions">
                      <button class="btn btn-outline-primary">Add to Cart</button>
                  </div> -->
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-3 mb-3">
        <div
          class="dataTables_info"
          id="copy-print-csv_info"
          role="status"
          aria-live="polite"
        >
          Showing 6 to 10 of 10 entries
        </div>

        <pagination
          [paginationList]="pagination"
          [selectedPageLimit]="currentPageLimit"
          [currentPage]="currentPage"
          (onPageChange)="getPage($event)"
          [lastPage]="lastpage"
        >
        </pagination>
      </div>
    </div>
    <!-- Row end -->
  </ng-template>
</div>
