<div class="login-container">
  <div class="container-fluid h-100">
    <!-- Row start -->
    <div class="row no-gutters h-100">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="login-wrapper">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="login-screen">
              <div class="login-body">
                <a class="login-logo">
                  <img
                    [style.width.%]="100"
                    src="../../../assets/img/logo.png"
                    alt="Carasket"
                  />
                </a>
                <h3>Welcome to Carbazaar Admin dashboard</h3>
                <h4>Create staff account.</h4>
                <div class="field-wrapper">
                  <input type="text" autofocus formControlName="fullName" />
                  <div class="field-placeholder">Staff Full Name</div>
                </div>
                <div class="field-wrapper">
                  <input type="email" autofocus formControlName="phoneNumber" />
                  <div class="field-placeholder">Staff Phone Number</div>
                </div>
                <div class="field-wrapper">
                  <input type="email" autofocus formControlName="email" />
                  <div class="field-placeholder">Staff Email ID</div>
                </div>
                <div class="field-wrapper">
                  <input type="password" formControlName="password" />
                  <div class="field-placeholder">Staff Password</div>
                </div>
                <div class="field-wrapper mb-3">
                  <input type="password" />
                  <div class="field-placeholder">Staff Confirm Password</div>
                </div>
                <div class="actions">
                  <button
                    type="submit"
                    [disabled]="!registerForm?.valid"
                    class="btn btn-primary ms-auto"
                  >
                    Sign Up
                  </button>
                </div>
              </div>
              <!-- <div class="login-footer">
                                <span class="additional-link">Have an account? <a routerLink=""
                                        class="btn btn-light">Login</a></span>
                            </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Row end -->
  </div>
</div>
