<nav
  class="sidebar-wrapper"
  (click)="checkUrl()"
  [ngClass]="href == '/login' ? 'hidden' : 'visible'"
>
  <!-- Sidebar content start -->
  <div class="sidebar-tabs">
    <!-- Tabs nav start -->
    <!-- <div class="nav" role="tablist" aria-orientation="vertical"> -->
    <!-- <a href="#" class="logo">
    <img src="../../../favicon.ico" alt="Uni Pro Admin">
  </a> -->
    <!-- <a
        class="nav-link"
        id="home-tab"
        data-bs-toggle="tab"
        href="#tab-home"
        role="tab"
        aria-controls="tab-home"
        aria-selected="false"
        *ngIf="loginType == 'admin'"
      >
        <i class="icon-home2"></i>
        <span class="nav-link-text">Dashboards</span>
      </a>
      <a
        class="nav-link active"
        id="product-tab"
        data-bs-toggle="tab"
        href="#tab-product"
        role="tab"
        aria-controls="tab-product"
        aria-selected="true"
      >
        <i class="icon-layers2"></i>
        <span class="nav-link-text">Leads</span>
      </a> -->
    <!-- <a class="nav-link" id="pages-tab" data-bs-toggle="tab" href="#tab-pages" role="tab" aria-controls="tab-pages" aria-selected="false">
    <i class="icon-book-open"></i>
    <span class="nav-link-text">Pages</span>
  </a> -->
    <!-- <a
        class="nav-link"
        id="forms-tab"
        data-bs-toggle="tab"
        href="#tab-forms"
        role="tab"
        aria-controls="tab-forms"
        aria-selected="false"
        *ngIf="loginType == 'admin'"
      >
        <i class="icon-edit1"></i>
        <span class="nav-link-text">Data</span>
      </a> -->
    <!-- <a class="nav-link" id="components-tab" data-bs-toggle="tab" href="#tab-components" role="tab" aria-controls="tab-components" aria-selected="false">
    <i class="icon-box"></i>
    <span class="nav-link-text">Components</span>
  </a> -->
    <!-- <a class="nav-link" id="graphs-tab" data-bs-toggle="tab" href="#tab-graphs" role="tab" aria-controls="tab-graphs" aria-selected="false">
    <i class="icon-pie-chart1"></i>
    <span class="nav-link-text">Graphs</span>
  </a> -->
    <!-- <a
        class="nav-link"
        id="authentication-tab"
        data-bs-toggle="tab"
        href="#tab-authentication"
        role="tab"
        aria-controls="tab-authentication"
        aria-selected="false"
        *ngIf="loginType == 'admin'"
      >
        <i class="icon-unlock"></i>
        <span class="nav-link-text">Authentication</span>
      </a>
      <a
        class="nav-link settings"
        id="settings-tab"
        data-bs-toggle="tab"
        href="#tab-settings"
        role="tab"
        aria-controls="tab-authentication"
        aria-selected="false"
      >
        <i class="icon-settings1"></i>
        <span class="nav-link-text">Settings</span>
      </a>
    </div> -->
    <!-- Tabs nav end -->

    <!-- Tabs content start -->
    <div class="tab-content">
      <!-- Chat tab -->
      <div
        class="tab-pane fade"
        id="tab-home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <!-- Tab content header start -->
        <div class="tab-pane-header">Dashboards</div>
        <!-- Tab content header end -->

        <!-- Sidebar menu starts -->
        <div class="sidebarMenuScroll">
          <div class="sidebar-menu">
            <ul>
              <!-- <li (click)="close()">
                <a routerLink="/dashboard" routerLinkActive="current-page"
                  >Dashboard</a
                >
              </li>
              <li (click)="close()">
                <a routerLink="/analytics" routerLinkActive="current-page"
                  >Analytics</a
                >
              </li>
              <li (click)="close()">
                <a routerLink="/sales" routerLinkActive="current-page">Sales</a>
              </li> -->
              <!-- <li (click)="close()">
                              <a href="crm.html">CRM</a>
                          </li>
                          <li (click)="close()">
                              <a href="#">Reports</a>
                          </li>
                          <li (click)="close()">
                              <a href="#">Saas</a>
                          </li>
                          <li (click)="close()">
                              <a href="consulting.html">Consulting</a>
                          </li>
                          <li (click)="close()">
                              <a href="profile.html">Profile</a>
                          </li> -->
            </ul>
            <!-- <ul>
                          <li class="list-heading">Layouts</li>
                          <li (click)="close()">
                              <a href="starter-page.html">Starter Page</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-tabs-tooltip.html">Tabs Hover Tooltip</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-tile-menu.html">Tile Menu</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-collapse-menu.html">Collapse Sidebar</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-compact-menu.html">Compact Sidebar</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-slim-menu.html">Slim Sidebar</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-hover-tabs.html">Hover Tabs</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-daterange.html">Date Range</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-full-screen.html">Full Screen</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-full-view.html">Full View</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-search.html">Global Search</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-megamenu.html">Megamenu</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-bradcrumb.html">Breadcrumbs</a>
                          </li>
                          <li (click)="close()">
                              <a href="layout-scroll-cards.html">Scroll Cards</a>
                          </li>
                      </ul> -->
          </div>
        </div>
        <!-- Sidebar menu ends -->

        <!-- Sidebar actions starts -->
        <!-- <div class="sidebar-actions">
                    <a href="orders.html" class="red">
                        <div class="bg-avatar">12</div>
                        <h5>New Orders</h5>
                    </a>
                    <a href="invoices-list.html" class="blue">
                        <div class="bg-avatar">24</div>
                        <h5>Bills Pending</h5>
                    </a>
                </div> -->
        <!-- Sidebar actions ends -->
      </div>

      <!-- Pages tab -->
      <div
        class="tab-pane fade show active"
        id="tab-product"
        role="tabpanel"
        aria-labelledby="product-tab"
      >
        <!-- Tab content header start -->
        <div class="tab-pane-header">Carbajar</div>
        <!-- Tab content header end -->

        <!-- Sidebar menu starts -->
        <div class="sidebarMenuScroll">
          <div class="sidebar-menu">
            <ul>
              <!-- <li class="list-heading">Carbajar</li> -->

              <!-- <li (click)="close()">
                                <a routerLink="/leads-verification" routerLinkActive="current-page">Leads
                                    Verification</a>
                            </li> -->
              <li (click)="close()">
                <a routerLink="/leads" routerLinkActive="current-page"
                  >Leads</a
                >
              </li>
              <!-- <li (click)="close()">
                <a
                  routerLink="/dealer-quotations-leads"
                  routerLinkActive="current-page"
                  >Dealer Quotations Leads</a
                >
              </li> -->
              <li (click)="close()">
                <a routerLink="/users" routerLinkActive="current-page">Users</a>
              </li>
              <li (click)="close()">
                <a routerLink="/drivers" routerLinkActive="current-page"
                  >Drivers</a
                >
              </li>
                 <li (click)="close()">
                <a routerLink="/vehicles" routerLinkActive="current-page"
                  >Vehicles</a
                >
              </li>
                <li (click)="close()">
                <a routerLink="/documents" routerLinkActive="current-page"
                  >Documents</a
                >
              </li>
              
              <!-- <li (click)="close()">
                <a routerLink="/drivers" routerLinkActive="current-page"
                  >Drivers</a
                >
              </li> -->
              <!-- <li (click)="close()">
                <a routerLink="/agencies" routerLinkActive="current-page"
                  >Agencies</a
                >
              </li> -->
              <!-- <li (click)="close()">
                <a
                  [routerLink]="['/leads', userId]"
                  routerLinkActive="current-page"
                  >My Leads</a
                >
              </li> -->
              <!-- <li (click)="close()">
                <a [routerLink]="['/all-case']" routerLinkActive="current-page"
                  >Case Management</a
                >
              </li> -->

              <!-- <div *ngIf="loginType == 'other'"> -->
              <!-- <li (click)="close()">
                                    <a routerLink="/new-lead" routerLinkActive="current-page">New Lead</a>
                                </li>
                                <li (click)="parameters('vp=1')">
                                    <a routerLinkActive="current-page">With vehicle picture</a>
                                </li>
                                <li (click)="parameters('vpe=0')">
                                    <a routerLinkActive="current-page">No vehicle picture</a>
                                </li>

                                <li (click)="parameters('dqTddF=0')">
                                    <a routerLinkActive="current-page">Quotation Given</a>
                                </li>
                                <li (click)="parameters('rc=1')">
                                    <a routerLinkActive="current-page">With RC Pic</a>
                                </li>
                                <li (click)="parameters('rce=0')">
                                    <a routerLinkActive="current-page">No RC Pic</a>
                                </li>




                                <li (click)="close()">
                                    <a routerLink="/not-reachable" routerLinkActive="current-page">Not reachable</a>
                                </li>
                                <li (click)="close()">
                                    <a routerLink="/call-me-later" routerLinkActive="current-page">Call me later</a>
                                </li>
                                <li (click)="close()">
                                    <a routerLink="/asking-high-price" routerLinkActive="current-page">Asking high
                                        price</a>
                                </li>
                                <li (click)="close()">
                                    <a routerLink="/not-responding" routerLinkActive="current-page">Not responding</a>
                                </li>
                                <li (click)="close()">
                                    <a routerLink="/deal-cancelled" routerLinkActive="current-page">Deal cancelled</a>
                                </li>
                                <li (click)="close()">
                                    <a routerLink="/deal-accepted" routerLinkActive="current-page">Deal accepted</a>
                                </li>
                                <li (click)="close()">
                                    <a routerLink="/assigned-to-dealer" routerLinkActive="current-page">Assigned to
                                        dealer</a>
                                </li>
                                <li (click)="close()">
                                    <a routerLink="/completed" routerLinkActive="current-page">Completed</a>
                                </li>



                                <li (click)="parameters('dqTddF=0')">
                                    <a routerLinkActive="current-page">dealer quotation true and dealer data false</a>
                                </li>
                                <li (click)="parameters('rc=1')">
                                    <a routerLinkActive="current-page">rc pic is not empty</a>
                                </li>
                                <li (click)="parameters('rce=0')">
                                    <a routerLinkActive="current-page">rc pic is empty</a>
                                </li>
                                <li (click)="parameters('vp=1')">
                                    <a routerLinkActive="current-page">vehicle picture is not empty</a>
                                </li>
                                <li (click)="parameters('vpe=0')">
                                    <a routerLinkActive="current-page">vehicle picture is empty</a>
                                </li>



                                <li (click)="parameters('cp=1')">
                                    <a routerLinkActive="current-page"> chasisPictures is not empty</a>
                                </li>
                                <li (click)="parameters('cpe=0')">
                                    <a routerLinkActive="current-page">chasisPictures is empty</a>
                                </li>
                                <li (click)="parameters('dd=1')">
                                    <a routerLinkActive="current-page">dealerdata is not empty</a>
                                </li>
                                <li (click)="parameters('dde=0')">
                                    <a routerLinkActive="current-page">dealerdata is empty</a>
                                </li> -->

              <!-- <li (click)="close()">
          <a href="add-product.html"  class="current-page">Add Product</a>
      </li> -->
              <!-- <li (click)="close()">
          <a href="orders.html" >Orders</a>
      </li>
      <li (click)="close()">
          <a href="customers-list.html">Customers</a>
      </li>
      <li (click)="close()">
          <a href="products-reviews.html">Reviews</a>
      </li> -->
              <!-- </div> -->
            </ul>
            <!-- <ul>
              <li class="list-heading">Zulukk</li>
              <li (click)="close()">
                <a routerLink="/zulukk-leads" routerLinkActive="current-page"
                  >Zulukk Leads</a
                >
              </li>
            </ul> -->
            <!-- <ul>
              <li class="list-heading">Spare Parts</li>
              <li (click)="close()">
                <a routerLink="/parts-leads" routerLinkActive="current-page"
                  >Spare Parts Leads</a
                >
              </li>
            </ul> -->
            <!-- <ul>
                          <li class="list-heading">Calendars</li>
                          <li (click)="close()">
                              <a href="calendar-daygrid-view.html">Daygrid View</a>
                          </li>
                          <li (click)="close()">
                              <a href="calendar-list-view.html">List View</a>
                          </li>
                          <li (click)="close()">
                              <a href="calendar-external-dragging.html">Draggable</a>
                          </li>
                          <li (click)="close()">
                              <a href="calendar-google-view.html">Google View</a>
                          </li>
                          <li (click)="close()">
                              <a href="calendar-selectable.html">Selectable</a>
                          </li>
                      </ul> -->
          </div>
        </div>
        <!-- Sidebar menu ends -->

        <!-- Sidebar actions starts -->
        <div class="sidebar-actions">
          <div class="support-tile">
            <!-- <img
              src="../../../assets/img/logo.png"
              style="width: inherit"
              alt=""
            /> -->
            <h1>Carbajar</h1>
          </div>
        </div>
        <!-- Sidebar actions ends -->
      </div>

      <!-- Pages tab -->
      <div
        class="tab-pane fade"
        id="tab-pages"
        role="tabpanel"
        aria-labelledby="pages-tab"
      >
        <!-- Tab content header start -->
        <div class="tab-pane-header">Pages</div>
        <!-- Tab content header end -->

        <!-- Sidebar menu starts -->
        <!-- <div class="sidebarMenuScroll">
                    <div class="sidebar-menu">
                        <ul>
                            <li (click)="close()">
                                <a href="chat.html">Chat</a>
                            </li>
                            <li (click)="close()">
                                <a href="tasks.html">Tasks</a>
                            </li>
                            <li (click)="close()">
                                <a href="create-invoice.html">Create Invoice</a>
                            </li>
                            <li (click)="close()">
                                <a href="view-invoice.html">View Invoice</a>
                            </li>
                            <li (click)="close()">
                                <a href="documents.html">Documents</a>
                            </li>
                            <li (click)="close()">
                                <a href="faq.html">Faq's</a>
                            </li>
                            <li (click)="close()">
                                <a href="contacts.html">Contacts</a>
                            </li>
                            <li (click)="close()">
                                <a href="pricing.html">Pricing</a>
                            </li>
                            <li (click)="close()">
                                <a href="gallery-tiles.html">Gallery Tiles</a>
                            </li>
                            <li (click)="close()">
                                <a href="gallery.html">Gallery</a>
                            </li>
                            <li (click)="close()">
                                <a href="icons.html">Icons</a>
                            </li>
                            <li (click)="close()">
                                <a href="timeline.html">Timeline</a>
                            </li>
                            <li (click)="close()">
                                <a href="search-results.html">Search Results</a>
                            </li>
                            <li (click)="close()">
                                <a href="account-settings.html">Account Settings</a>
                            </li>
                            <li (click)="close()">
                                <a href="user-profile.html">User Profile</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
        <!-- Sidebar menu ends -->

        <!-- Sidebar actions starts -->
        <div class="sidebar-actions">
          <div class="support-tile green">
            <img
              src="../../../assets/img/logo.png"
              style="width: inherit"
              alt=""
            />
          </div>
        </div>
        <!-- Sidebar actions ends -->
      </div>

      <!-- Forms tab -->
      <div
        class="tab-pane fade"
        id="tab-forms"
        role="tabpanel"
        aria-labelledby="forms-tab"
      >
        <!-- Tab content header start -->
        <div class="tab-pane-header">Data</div>
        <!-- Tab content header end -->

        <!-- Sidebar menu starts -->
        <div class="sidebarMenuScroll">
          <div class="sidebar-menu">
            <ul>
              <li class="list-heading">User Layouts</li>
              <li (click)="close()">
                <a routerLink="/users" routerLinkActive="current-page"
                  >User's List</a
                >
              </li>
            </ul>
            <ul>
              <li class="list-heading">Dealers Layouts</li>
              <li (click)="close()">
                <a routerLink="/dealer-list" routerLinkActive="current-page"
                  >Dealers List</a
                >
              </li>
              <!-- <li (click)="close()">
                                <a routerLink="/add-dealer-details" routerLinkActive="current-page">Add Dealer Details</a>
                            </li> -->
              <li (click)="close()">
                <a
                  routerLink="/dealer-details-list"
                  routerLinkActive="current-page"
                  >Dealer Details List</a
                >
              </li>
            </ul>
            <ul>
              <li class="list-heading">Logs</li>
              <li (click)="close()">
                <a
                  routerLink="/login-logout-logs"
                  routerLinkActive="current-page"
                  >Login/Logout Logs</a
                >
              </li>
            </ul>
            <ul>
              <li class="list-heading">Staff Layouts</li>
              <li (click)="close()">
                <a routerLink="/add-employees" routerLinkActive="current-page"
                  >Add Staff</a
                >
              </li>
              <li (click)="close()">
                <a routerLink="/employees" routerLinkActive="current-page"
                  >Staff's List</a
                >
              </li>
            </ul>
            <ul>
              <li class="list-heading">Admin Layouts</li>
              <li (click)="close()">
                <a routerLink="/add-employees" routerLinkActive="current-page"
                  >Add Admin</a
                >
              </li>
              <li (click)="close()">
                <a routerLink="/employees" routerLinkActive="current-page"
                  >Admin's List</a
                >
              </li>
            </ul>
            <ul>
              <li class="list-heading">Location Layouts</li>
              <li (click)="close()">
                <a routerLink="/add-city" routerLinkActive="current-page"
                  >Add City</a
                >
              </li>
            </ul>
            <ul>
              <li class="list-heading">Blog</li>
              <li (click)="close()">
                <a routerLink="/add-blog" routerLinkActive="current-page"
                  >Add Blog</a
                >
              </li>
              <li (click)="close()">
                <a routerLink="/blog" routerLinkActive="current-page"
                  >Blog List</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- Sidebar menu ends -->

        <!-- Sidebar actions starts -->
        <div class="sidebar-actions">
          <div class="support-tile red">
            <img
              src="../../../assets/img/logo.png"
              style="width: inherit"
              alt=""
            />
          </div>
        </div>
        <!-- Sidebar actions ends -->
      </div>

      <!-- Components tab -->
      <div
        class="tab-pane fade"
        id="tab-components"
        role="tabpanel"
        aria-labelledby="components-tab"
      >
        <!-- Tab content header start -->
        <div class="tab-pane-header">Components</div>
        <!-- Tab content header end -->

        <!-- Sidebar menu starts -->
        <!-- <div class="sidebarMenuScroll">
                    <div class="sidebar-menu">
                        <ul>
                            <li (click)="close()">
                                <a href="accordions.html">Accordions</a>
                            </li>
                            <li (click)="close()">
                                <a href="alerts.html">Alerts</a>
                            </li>
                            <li (click)="close()">
                                <a href="buttons.html">Buttons</a>
                            </li>
                            <li (click)="close()">
                                <a href="badges.html">Badges</a>
                            </li>
                            <li (click)="close()">
                                <a href="cards.html">Cards</a>
                            </li>
                            <li (click)="close()">
                                <a href="carousel.html">Carousel</a>
                            </li>
                            <li (click)="close()">
                                <a href="list-group.html">List group</a>
                            </li>
                            <li (click)="close()">
                                <a href="modals.html">Modal</a>
                            </li>
                            <li (click)="close()">
                                <a href="paginations.html">Paginations</a>
                            </li>
                            <li (click)="close()">
                                <a href="popovers.html">Popovers</a>
                            </li>
                            <li (click)="close()">
                                <a href="progress.html">Progress</a>
                            </li>
                            <li (click)="close()">
                                <a href="spinners.html">Spinners</a>
                            </li>
                            <li (click)="close()">
                                <a href="tabs.html">Tabs</a>
                            </li>
                            <li (click)="close()">
                                <a href="toasts.html">Toasts</a>
                            </li>
                            <li (click)="close()">
                                <a href="tooltips.html">Tooltips</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
        <!-- Sidebar menu ends -->

        <!-- Sidebar actions starts -->
        <div class="sidebar-actions">
          <div class="support-tile yellow">
            <i class="icon-arrow-down-circle"></i
            ><a href="#">Download Reports</a>
          </div>
        </div>
        <!-- Sidebar actions ends -->
      </div>

      <!-- Graphs tab -->
      <div
        class="tab-pane fade"
        id="tab-graphs"
        role="tabpanel"
        aria-labelledby="graphs-tab"
      >
        <!-- Tab content header start -->
        <div class="tab-pane-header">Graphs &amp; Tables</div>
        <!-- Tab content header end -->

        <!-- Sidebar menu starts -->
        <!-- <div class="sidebarMenuScroll">
                    <div class="sidebar-menu">
                        <ul>
                            <li class="list-heading">Graphs</li>
                            <li (click)="close()">
                                <a href="apex-graphs.html">Apex Graphs</a>
                            </li>
                            <li (click)="close()">
                                <a href="morris-graphs.html">Morris Graphs</a>
                            </li>
                            <li (click)="close()">
                                <a href="vector-maps.html">Vector Maps</a>
                            </li>
                        </ul>

                        <ul>
                            <li class="list-heading">Tables</li>
                            <li (click)="close()">
                                <a href="bootstrap-tables.html">Bootstrap Tables</a>
                            </li>
                            <li (click)="close()">
                                <a href="custom-tables.html">Custom Tables</a>
                            </li>
                            <li (click)="close()">
                                <a href="data-tables.html">Data Tables</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
        <!-- Sidebar menu ends -->

        <!-- Sidebar actions starts -->
        <div class="sidebar-actions">
          <div class="support-tile pink">
            <img
              src="../../../assets/img/logo.png"
              style="width: inherit"
              alt=""
            />
          </div>
        </div>
        <!-- Sidebar actions ends -->
      </div>

      <!-- Authentication tab -->
      <div
        class="tab-pane fade"
        id="tab-authentication"
        role="tabpanel"
        aria-labelledby="authentication-tab"
      >
        <!-- Tab content header start -->
        <div class="tab-pane-header">Authentication</div>
        <!-- Tab content header end -->

        <!-- Sidebar menu starts -->
        <!-- <div class="sidebarMenuScroll">
                    <div class="sidebar-menu">
                        <ul>
                            <li (click)="close()">
                                <a href="login.html">Login</a>
                            </li>
                            <li (click)="close()">
                                <a href="signup.html">Signup</a>
                            </li>
                            <li (click)="close()">
                                <a href="#">Forgot Password</a>
                            </li>
                            <li (click)="close()">
                                <a href="reset-password.html">Reset Password</a>
                            </li>
                            <li (click)="close()">
                                <a href="lock-screen.html">Lock Screen</a>
                            </li>
                            <li (click)="close()">
                                <a href="subscribe.html">Subscribe</a>
                            </li>
                            <li (click)="close()">
                                <a href="maintenance.html">Maintenance</a>
                            </li>
                            <li (click)="close()">
                                <a href="error.html">404</a>
                            </li>
                            <li (click)="close()">
                                <a href="error-option2.html">Error</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
        <!-- Sidebar menu ends -->

        <!-- Sidebar actions starts -->
        <div class="sidebar-actions">
          <div class="support-tile blue">
            <img
              src="../../../assets/img/logo.png"
              style="width: inherit"
              alt=""
            />
          </div>
        </div>
        <!-- Sidebar actions ends -->
      </div>

      <!-- Settings tab -->
      <div
        class="tab-pane fade"
        id="tab-settings"
        role="tabpanel"
        aria-labelledby="settings-tab"
      >
        <!-- Tab content header start -->
        <div class="tab-pane-header">Settings</div>
        <!-- Tab content header end -->

        <!-- Settings start -->
        <div class="sidebarMenuScroll">
          <div class="sidebar-settings">
            <div class="accordion" id="settingsAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="genInfo">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#genCollapse"
                    aria-expanded="true"
                    aria-controls="genCollapse"
                  >
                    General Info
                  </button>
                </h2>
                <div
                  id="genCollapse"
                  class="accordion-collapse collapse show"
                  aria-labelledby="genInfo"
                  data-bs-parent="#settingsAccordion"
                >
                  <div class="accordion-body">
                    <div class="field-wrapper">
                      <input type="text" value="Jeivxezer Lopexz" />
                      <div class="field-placeholder">Full Name</div>
                    </div>

                    <div class="field-wrapper">
                      <input type="email" value="jeivxezer-lopexz@email.com" />
                      <div class="field-placeholder">Email</div>
                    </div>

                    <div class="field-wrapper">
                      <input type="text" value="0 0000 00000" />
                      <div class="field-placeholder">Contact</div>
                    </div>
                    <div class="field-wrapper m-0">
                      <button class="btn btn-primary stripes-btn">Save</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="chngPwd">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#chngPwdCollapse"
                    aria-expanded="false"
                    aria-controls="chngPwdCollapse"
                  >
                    Change Password
                  </button>
                </h2>
                <div
                  id="chngPwdCollapse"
                  class="accordion-collapse collapse"
                  aria-labelledby="chngPwd"
                  data-bs-parent="#settingsAccordion"
                >
                  <div class="accordion-body">
                    <div class="field-wrapper">
                      <input type="text" value="" />
                      <div class="field-placeholder">Current Password</div>
                    </div>
                    <div class="field-wrapper">
                      <input type="password" value="" />
                      <div class="field-placeholder">New Password</div>
                    </div>
                    <div class="field-wrapper">
                      <input type="password" value="" />
                      <div class="field-placeholder">Confirm Password</div>
                    </div>
                    <div class="field-wrapper m-0">
                      <button class="btn btn-primary stripes-btn">Save</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="sidebarNotifications">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#notiCollapse"
                    aria-expanded="false"
                    aria-controls="notiCollapse"
                  >
                    Notifications
                  </button>
                </h2>
                <div
                  id="notiCollapse"
                  class="accordion-collapse collapse"
                  aria-labelledby="sidebarNotifications"
                  data-bs-parent="#settingsAccordion"
                >
                  <div class="accordion-body">
                    <div class="list-group m-0">
                      <div class="noti-container">
                        <div class="noti-block">
                          <div>Alerts</div>
                          <div class="form-switch">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="showAlertss"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="showAlertss"
                            ></label>
                          </div>
                        </div>
                        <div class="noti-block">
                          <div>Enable Sound</div>
                          <div class="form-switch">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="soundEnable"
                            />
                            <label
                              class="form-check-label"
                              for="soundEnable"
                            ></label>
                          </div>
                        </div>
                        <div class="noti-block">
                          <div>Allow Chat</div>
                          <div class="form-switch">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="allowChat"
                            />
                            <label
                              class="form-check-label"
                              for="allowChat"
                            ></label>
                          </div>
                        </div>
                        <div class="noti-block">
                          <div>Desktop Messages</div>
                          <div class="form-switch">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="desktopMessages"
                            />
                            <label
                              class="form-check-label"
                              for="desktopMessages"
                            ></label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Settings end -->

        <!-- Sidebar actions starts -->
        <div class="sidebar-actions">
          <div class="support-tile blue">
            <img
              src="../../../assets/img/logo.png"
              style="width: inherit"
              alt=""
            />
          </div>
        </div>
        <!-- Sidebar actions ends -->
      </div>
    </div>
    <!-- Tabs content end -->
  </div>
  <!-- Sidebar content end -->
</nav>
