<!-- [ngClass]="href == '/login' ? 'visible' : 'hidden'" -->

<div *ngIf="href == '/login'; else showHeader">
  <router-outlet></router-outlet>
</div>

<!-- [ngClass]="href != '/login' ? 'visible' : 'hidden'" -->
<ng-template #showHeader>
  <div class="main-container">
    <!-- Page header starts -->
    <div class="page-header">
      <!-- Row start -->
      <div class="row gutters">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-9">
          <div class="search-container">
            <div class="toggle-sidebar" id="toggle-sidebar">
              <i class="icon-menu"></i>
            </div>

            <div class="">
              <h2>{{ accType | uppercase }} PANEL</h2>
            </div>
            <!-- <div class="ui fluid category search">
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="Search">
                            <i class="search icon icon-search1"></i>
                        </div>
                        <div class="results"></div>
                    </div> -->
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-3">
          <!-- Header actions start -->
          <ul class="header-actions">
            <h4 class="ml-4">{{ fullName }}</h4>

            <!-- <li class="dropdown">
                        <a href="#" id="taskss" data-toggle="dropdown" aria-haspopup="true">
            <i class="icon-check-square"></i>
          </a>
                        <div class="dropdown-menu dropdown-menu-end lrg" aria-labelledby="taskss">
                            <div class="dropdown-menu-header">
                                Tasks (7/10)
                            </div>
                            <div class="customScroll">
                                <ul class="activity">
                                    <li class="activity-list">
                                        <div class="detail-info">
                                            <p class="date">Today</p>
                                            <p class="info">Messages accepted with attachments</p>
                                        </div>
                                    </li>
                                    <li class="activity-list danger">
                                        <div class="detail-info">
                                            <p class="date">Today</p>
                                            <p class="info">Send email notifications of subscriptions and deletions to list owner</p>
                                        </div>
                                    </li>
                                    <li class="activity-list success">
                                        <div class="detail-info">
                                            <p class="date">Yesterday</p>
                                            <p class="info">Required change logs activity reports</p>
                                        </div>
                                    </li>
                                    <li class="activity-list warning">
                                        <div class="detail-info">
                                            <p class="date">2 Days Ago</p>
                                            <p class="info">Strategic partnership plan</p>
                                        </div>
                                    </li>
                                    <li class="activity-list">
                                        <div class="detail-info">
                                            <p class="date">2 days ago</p>
                                            <p class="info">Send email notifications of subscriptions and deletions to list owner</p>
                                        </div>
                                    </li>
                                    <li class="activity-list danger">
                                        <div class="detail-info">
                                            <p class="date">3 days ago</p>
                                            <p class="info">Required change logs activity reports</p>
                                        </div>
                                    </li>
                                    <li class="activity-list success">
                                        <div class="detail-info">
                                            <p class="date">7 days ago</p>
                                            <p class="info">Strategic partnership plan</p>
                                        </div>
                                    </li>
                                    <li class="activity-list">
                                        <div class="detail-info">
                                            <p class="date">2 weeks ago</p>
                                            <p class="info">Required change logs activity reports</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li> -->
            <!-- <li class="dropdown">
                        <a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
            <i class="icon-alert-triangle"></i>
          </a>
                        <div class="dropdown-menu dropdown-menu-end lrg" aria-labelledby="notifications">
                            <div class="dropdown-menu-header">
                                Notifications (7)
                            </div>
                            <div class="customScroll">
                                <ul class="header-notifications">
                                    <li>
                                        <a href="#">
                                            <div class="user-img online">
                                                <img src="img/user6.png" alt="User">
                                            </div>
                                            <div class="details">
                                                <div class="user-title">Larkyn</div>
                                                <div class="noti-details">Check out every table in detail.</div>
                                                <div class="noti-date">April 25, 04:00 pm</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user-img busy">
                                                <img src="img/user10.png" alt="User">
                                            </div>
                                            <div class="details">
                                                <div class="user-title">Braxten</div>
                                                <div class="noti-details">Approved new design.</div>
                                                <div class="noti-date">April 10, 12:00 am</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user-img away">
                                                <img src="img/user21.png" alt="User">
                                            </div>
                                            <div class="details">
                                                <div class="user-title">Maria</div>
                                                <div class="noti-details">Membership has been ended.</div>
                                                <div class="noti-date">March 20, 07:30 pm</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user-img busy">
                                                <img src="img/user15.png" alt="User">
                                            </div>
                                            <div class="details">
                                                <div class="user-title">Alex</div>
                                                <div class="noti-details">Design Review.</div>
                                                <div class="noti-date">April 18, 09:30 am</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user-img online">
                                                <img src="img/user5.png" alt="User">
                                            </div>
                                            <div class="details">
                                                <div class="user-title">Sunny</div>
                                                <div class="noti-details">UI Discussion</div>
                                                <div class="noti-date">April 21, 05:00 pm</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li> -->

            <li class="dropdown">
              <a
                href="#"
                id="userSettings"
                class="user-settings"
                data-toggle="dropdown"
                aria-haspopup="true"
              >
                <span class="avatar">
                  <img src="../../../assets/img/user.svg" alt="User Avatar" />
                  <span class="status busy"></span>
                </span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-end md"
                aria-labelledby="userSettings"
              >
                <div class="header-profile-actions">
                  <a><i class="icon-user1"></i>{{ fullName }}</a>
                  <!-- <a href="account-settings.html"><i class="icon-settings1"></i>Settings</a> -->
                  <a routerLink="/login" (click)="clear()"
                    ><i class="icon-log-out1"></i>Logout</a
                  >
                </div>
              </div>
            </li>
          </ul>
          <!-- Header actions end -->
        </div>
      </div>
      <!-- Row end -->
    </div>
    <!-- Page header ends -->

    <!-- Content wrapper scroll start -->

    <div class="content-wrapper-scroll">
      <!-- Content wrapper start -->
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>

      <!-- Content wrapper end -->

      <!-- App footer start -->
      <div class="app-footer">© Carbazaar Admin 2023</div>
      <!-- App footer end -->
    </div>

    <!-- Content wrapper scroll end -->
  </div>
</ng-template>
