.login-about{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: url(https://pixabay.com/photos/vw-beetle-car-classic-car-forest-1835506/) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}
